.env
__pycache__
.venv
my_notes.txt
db.sqlite3
vercel.json
build.sh
build_files.sh

questions/migrations/0001_initial.py
questions/migrations/0002_uuidtaggeditem_alter_question_tags.py 
community/transactions.xlsx